<h1>Articles</h1>

<div>
<% @articles.each do |article| %>
  <div>
    <p><strong><%= link_to article.title, article %></strong><br />
    <em>by <%= article.author %> on <%= article.created_at.strftime("%b %d, %Y") %></em></p>
    <p><%= article.body %></p>

    <!--<p><%= link_to 'Show', article %></p>-->
    <!--<p><%= link_to 'Edit', edit_article_path(article) %></p>-->
    <!--<p><%= link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' } %></p>-->
  </div>
<% end %>
</div>

<%= link_to 'New Article', new_article_path %>
